# Laravel / PHP specific ignores

/vendor
/node_modules
/public/storage
/storage/*.key
/.idea
/.vscode
/.phpunit.result.cache
Homestead.yaml
Homestead.json
.env
.env.backup
.env.*.backup

# Ignore logs and debug files
*.log
*.sql
*.sqlite
*.cache

# Ignore compiled files
*.class
*.pyc
*.pyo
*.pyd
*.exe
*.dll
*.so
*.dylib
*.out
*.obj
*.o
*.a
*.lo
*.la
*.class

# Ignore system files
.DS_Store
Thumbs.db
desktop.ini

# Ignore archives
*.zip
*.tar.gz
*.rar
*.7z

# Ignore coverage / test output
/coverage
.phpunit.cache
.phpunit.result.cache
